/*! CSS Used from: Embedded */

:focus:not([data-focusvisible-polyfill]) {
    outline: none;
}

.css-11aywtz {
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 0px solid black;
    box-sizing: border-box;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    resize: none;
}

.r-1yadl64 {
    border-width: 0px;
}

.r-1udh08x {
    overflow: hidden;
}

.r-1niwhzg {
    background-color: rgba(0, 0, 0, 0);
}

.r-kw6ru0 {
    color: rgba(4, 4, 5, 0.8);
}

.r-poiln3 {
    font-family: inherit;
}

.r-a023e6 {
    font-size: 15px;
}

.r-ata0oj::-webkit-input-placeholder {
    color: rgba(4, 4, 5, 0.4);
    opacity: 1;
}

.r-ata0oj::placeholder {
    color: rgba(4, 4, 5, 0.4);
    opacity: 1;
}


/*! CSS Used from: Embedded */

a {
    background-color: transparent;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

button,
html [type="button"],
[type="submit"] {
    appearance: button;
}

[type="search"] {
    appearance: textfield;
    outline-offset: -2px;
}

[hidden] {
    display: none;
}

div,
span,
a,
form {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

[hidden] {
    display: none;
}

* {
    box-sizing: border-box;
}

input {
    outline: none;
}

.jbxvPE {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 1000 !important;
}

.Vkby {
    margin: 0px;
    padding: 0px 16px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 84px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (min-width: 578px) {
    .Vkby {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 768px) {
    .Vkby {
        padding-left: 28px;
        padding-right: 28px;
    }
}

@media screen and (min-width: 981px) {
    .Vkby {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.bWQTJz {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-flex: 1;
}

.ibBWIn {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-basis: 20px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.flkgrh {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    width: 14px;
    height: 14px;
}

.eaOXYK {
    margin: 0px 0px 0px 8px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    justify-content: center;
}

.gJNqgK {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 0 0 auto;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-box-pack: center;
    justify-content: center;
}

.fuGTiM {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
}

.ffYwvw {
    margin: 0px 20px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.idfJGQ {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.jlNkya {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.cAFwWB {
    margin: 0px 0px 0px 8px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.bgHVIP {
    margin: 0px 0px 0px 20px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.bQiBKA {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.casQMF {
    margin: 0px 0px 0px 4px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.fnyloc {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.lfoLab {
    text-decoration: none;
    color: rgba(4, 4, 5, 0.4);
    transition: all 0.12s ease-in-out 0s;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.doaTrL {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    line-height: 20.7px;
    font-family: inherit;
    font-weight: 900;
}

.erMVgR {
    width: auto;
    color: inherit;
    padding: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    overflow: visible;
    outline: none;
}

.eCtGus {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    padding-left: 22px;
    padding-right: 22px;
    min-width: auto;
    border: 1px solid transparent;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 900;
    font-family: inherit;
    transition: all 0.12s ease-in-out 0s;
    transform-origin: center center;
    user-select: none;
    cursor: pointer;
}

.eCtGus:active {
    transform: scale(0.95);
}

.qAIDh {
    border-color: transparent;
    color: rgb(0, 102, 255);
    background: rgba(0, 102, 255, 0.15);
}

.qAIDh:hover {
    color: rgba(0, 102, 255, 0.9);
    background: rgba(0, 102, 255, 0.2);
}

.dOaLsj {
    border-color: rgba(4, 4, 5, 0.1);
    color: rgb(4, 4, 5);
    background: transparent;
}

.dOaLsj:hover {
    border-color: rgba(4, 4, 5, 0.18);
}

.eesVrg {
    text-decoration: none;
    color: rgb(0, 102, 255);
}

.eesVrg:hover {
    color: rgb(4, 4, 5);
    cursor: pointer;
}

.ipfhlk {
    display: inline-block;
}

.lbMOqP {
    flex-direction: row;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    border: 1px solid transparent;
    background: rgba(4, 4, 5, 0.07);
    height: 40px;
    padding: 0px 8px 0px 16px;
    border-radius: 24px;
    transition: all 0.12s ease-in-out 0s;
}

.lbMOqP:hover {
    border-color: rgba(4, 4, 5, 0.1);
}

.bwHCEF>* {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.fROwY {
    transition: all 0.12s ease-in-out 0s;
    color: rgb(4, 4, 5);
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.fROwY:hover,
.fROwY:focus,
.fROwY:active {
    color: rgba(4, 4, 5, 0.9);
}

.gvjJeP {
    transition: all 0.12s ease-in-out 0s;
    color: rgba(4, 4, 5, 0.5);
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.gvjJeP:hover,
.gvjJeP:focus,
.gvjJeP:active {
    color: rgba(4, 4, 5, 0.9);
}

.kPXRSB {
    height: 24px;
    width: 1px;
    background: rgba(4, 4, 5, 0.1);
    margin: 0px 18px;
}

.vPWDd {
    transition: all 0.12s ease-in-out 0s;
    color: rgba(4, 4, 5, 0.5);
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.vPWDd:hover,
.vPWDd:focus,
.vPWDd:active {
    color: rgba(4, 4, 5, 0.9);
}

.kCWYTI {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.kCWYTI> :not(:last-child) {
    margin-right: 8px;
}

.czwUhv {
    z-index: 100;
    position: sticky;
    width: 100%;
    top: 0px;
    transform: translate3d(0px, 0px, 0px);
}

.dPdrKC {
    background: rgb(255, 255, 255);
    color: rgb(4, 4, 5);
    border-bottom: 1px solid rgba(4, 4, 5, 0.1);
}

.dPdrKC> :not(:last-child) {
    margin-right: 24px;
}

.jYGA-Dr {
    width: 40px;
    height: 40px;
    transition: all 0.12s ease-in-out 0s;
    transform-origin: center center;
}

.jYGA-Dr:active {
    transform: scale(0.95);
}