/*! CSS Used from: Embedded */
:focus:not([data-focusvisible-polyfill]) {
  outline: none;
}
/*! CSS Used from: Embedded */
a {
  background-color: transparent;
}
img {
  border-style: none;
}
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0px;
}
button {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html [type="button"] {
  appearance: button;
}
div,
span,
a,
img {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}
.jbxvPE {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
}
.idfJGQ {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
}
.bQiBKA {
  margin: 0px;
  padding: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.fSZsRk {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
  position: relative;
  -webkit-box-flex: 1;
}
.cPoHFM {
  margin: 0px 0px 0px -20px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
  flex-flow: row nowrap;
}
.cgNgKu {
  margin: 0px 0px 0px 16px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
}
.bKXxLC {
  margin: 30px 0px 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
}
.iQWpJL {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
  height: 48px;
}
.hUMjpW {
  margin: 0px 0px 0px 16px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
  -webkit-box-flex: 1;
}
.gkIaQd {
  margin: 20px 0px 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
  height: 48px;
}
.jooBkH {
  margin: 0px 16px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
}
.ksydSB {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
  width: 48px;
  height: 48px;
}
.eIaCHA {
  margin: 0px;
  padding: 0px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
  border-radius: 100%;
}
.ijYFR {
  margin: 0px;
  padding: 0px 0px 0px 20px;
  -webkit-box-align: stretch;
  align-items: stretch;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(4, 4, 5);
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  min-height: 0px;
  min-width: 0px;
  max-width: 100%;
  z-index: 0;
  width: 226px;
}
.fnyloc {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
}
.gWFzdQ {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: 900;
}
.fCxEhb {
  text-decoration: none;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: rgb(0, 102, 255);
}
.dFrygW {
  text-decoration: none;
  color: rgba(4, 4, 5, 0.5);
  font-size: 14px;
  line-height: 19.32px;
  font-family: inherit;
  font-weight: inherit;
}
.dCpLuw {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.gipIiQ {
  text-decoration: none;
  font-size: 15px;
  line-height: 20.7px;
  font-family: inherit;
  font-weight: 900;
  color: rgb(4, 4, 5);
}
.dWAUTg {
  margin-left: 8px;
  width: auto;
  color: inherit;
  padding: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: normal;
  overflow: visible;
  outline: none;
}
.eesVrg {
  text-decoration: none;
  color: rgb(0, 102, 255);
}
.eesVrg:hover {
  color: rgb(4, 4, 5);
  cursor: pointer;
}
.iNDoeG {
  transition: all 0.12s ease-in-out 0s;
  color: rgb(4, 4, 5);
}
.iNDoeG:hover,
.iNDoeG:focus,
.iNDoeG:active {
  color: rgba(4, 4, 5, 0.9);
}
.efpGaJ {
  display: none;
}
.ipfhlk {
  display: inline-block;
}
.drmrPd {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 100%;
}
.hpHFSK {
  opacity: 0;
}
.fkCSEE {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 10;
  transition: opacity 0.2s ease-in-out 0s;
  margin: auto;
}
.kiRdWm {
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.ipjIez {
  width: 48px;
  height: 48px;
  position: relative;
}
.iROmes {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-flow: column;
  border-radius: 48px;
  width: 48px;
  height: 48px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.gCHypS {
  position: absolute;
  right: -4px;
  bottom: -8px;
}
.TyNhI {
  font-size: 24px;
}
@media (min-width: 768px) {
  .TyNhI {
    font-size: 27px;
  }
}
@media (min-width: 981px) {
  .TyNhI {
    font-size: 30px;
  }
}
.bpSALS {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 30px;
  opacity: 1;
  z-index: initial;
  background: linear-gradient(
    to left,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.hvtulX {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 30px;
  opacity: 0;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.iWVnnf {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-flow: row nowrap;
}
.dyQypj {
  margin-left: 4px;
}
