/*! CSS Used from: Embedded */

:focus:not([data-focusvisible-polyfill]) {
    outline: none;
}


/*! CSS Used from: Embedded */

button {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

button,
html [type="button"] {
    appearance: button;
}

div,
span {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

.fuGTiM {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
}

.idfJGQ {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.cAFwWB {
    margin: 0px 0px 0px 8px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.fSZsRk {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 77%;
    z-index: 0;
    position: relative;
    -webkit-box-flex: 1;
}

.bqaiPy {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-flow: row nowrap;
}

.junRRA {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: column;
    position: relative;
    z-index: 999999;
}

@media screen and (min-width: 578px) {
    .junRRA {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .junRRA {
        flex-direction: row;
    }
}

@media screen and (min-width: 981px) {
    .junRRA {
        flex-direction: row;
    }
}

.fbWBn {
    margin: 16px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-flex: 0;
}

@media screen and (min-width: 578px) {
    .fbWBn {
        margin-top: 16px;
        margin-left: 0px;
        -webkit-box-flex: 0;
        flex-grow: 0;
    }
}

@media screen and (min-width: 768px) {
    .fbWBn {
        margin-top: 0px;
        margin-left: 16px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
}

@media screen and (min-width: 981px) {
    .fbWBn {
        margin-top: 0px;
        margin-left: 16px;
        -webkit-box-flex: 1;
        flex-grow: 1;
    }
}

.glTnZu {
    margin: 0px 0px 0px 12px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.gWFzdQ {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: 900;
}

.erMVgR {
    width: auto;
    color: inherit;
    padding: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    overflow: visible;
    outline: none;
}

.KGdWz {
    height: 40px;
    width: 40px;
    border: 1px solid transparent;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.12s ease-in-out 0s;
    border-radius: 40px;
    background-color: rgba(0, 102, 255, 0.05);
    transform-origin: center center;
}

.KGdWz:hover {
    background-color: rgba(0, 102, 255, 0.05);
    color: rgb(4, 4, 5);
}

.KGdWz:active {
    transform: scale(0.95);
}

.dQqrst {
    border-color: rgba(4, 4, 5, 0.1);
    background: transparent;
}

.dQqrst:hover {
    background: transparent;
    border-color: rgba(4, 4, 5, 0.18);
}

.eCtGus {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    padding-left: 22px;
    padding-right: 22px;
    min-width: auto;
    border: 1px solid transparent;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 900;
    font-family: inherit;
    transition: all 0.12s ease-in-out 0s;
    transform-origin: center center;
    user-select: none;
    cursor: pointer;
}

.eCtGus:active {
    transform: scale(0.95);
}

.eZYTnE {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    padding-left: 22px;
    padding-right: 22px;
    min-width: auto;
    border: 1px solid transparent;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 900;
    font-family: inherit;
    transition: all 0.12s ease-in-out 0s;
    transform-origin: center center;
    user-select: none;
    cursor: pointer;
}

.dOaLsj {
    border-color: rgba(4, 4, 5, 0.1);
    color: rgb(4, 4, 5);
    background: transparent;
}

.dOaLsj:hover {
    border-color: rgba(4, 4, 5, 0.18);
}

.fOcUmi {
    box-shadow: rgba(0, 0, 0, 0.08) 1px 2px 10px;
    color: rgb(4, 4, 5);
    background: rgb(255, 255, 255);
}

.fOcUmi:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 24px;
}

.efpGaJ {
    display: none;
}

.ipfhlk {
    display: inline-block;
}

.TyNhI {
    font-size: 24px;
}

@media (min-width: 768px) {
    .TyNhI {
        font-size: 27px;
    }
}

@media (min-width: 981px) {
    .TyNhI {
        font-size: 30px;
    }
}

.bpSALS {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 30px;
    opacity: 1;
    z-index: initial;
    background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.hvtulX {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 30px;
    opacity: 0;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.cTHdjX {
    background: rgb(4, 4, 5);
    border: 1px solid rgb(4, 4, 5);
    line-height: 16px;
    color: rgb(255, 255, 255);
}

.cTHdjX:hover,
.cTHdjX:focus {
    color: rgb(255, 255, 255);
    background: rgb(4, 4, 5);
}

.bKTjVV {
    background: rgb(255, 255, 255);
    border: 1px solid rgba(4, 4, 5, 0.1);
    line-height: 16px;
    color: rgb(4, 4, 5);
}

.bKTjVV:hover,
.bKTjVV:focus {
    color: rgb(4, 4, 5);
    background: rgb(255, 255, 255);
}

.active-category {
    background: rgb(4, 4, 5) !important;
    border: 1px solid rgb(4, 4, 5) !important;
    line-height: 16px !important;
    color: rgb(255, 255, 255) !important;
}