/*! CSS Used from: Embedded */

:focus:not([data-focusvisible-polyfill]) {
    outline: none;
}

.css-11aywtz {
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    border: 0px solid black;
    box-sizing: border-box;
    font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    resize: none;
}

.r-1yadl64 {
    border-width: 0px;
}

.r-1udh08x {
    overflow: hidden;
}

.r-1niwhzg {
    background-color: rgba(0, 0, 0, 0);
}

.r-kw6ru0 {
    color: rgba(4, 4, 5, 0.8);
}

.r-poiln3 {
    font-family: inherit;
}

.r-a023e6 {
    font-size: 15px;
}

.r-majxgm {
    font-weight: 500;
}

.r-ata0oj::-webkit-input-placeholder {
    color: rgba(4, 4, 5, 0.4);
    opacity: 1;
}

.r-ata0oj::placeholder {
    color: rgba(4, 4, 5, 0.4);
    opacity: 1;
}


/*! CSS Used from: Embedded */

a {
    background-color: transparent;
}

img {
    border-style: none;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}

button,
input {
    overflow: visible;
}

button {
    text-transform: none;
}

button,
html [type="button"],
[type="submit"] {
    appearance: button;
}

[type="search"] {
    appearance: textfield;
    outline-offset: -2px;
}

[hidden] {
    display: none;
}

div,
span,
a,
img,
ul,
li,
form,
canvas,
footer {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

footer {
    display: block;
}

[hidden] {
    display: none;
}

ul {
    list-style: none;
}

* {
    box-sizing: border-box;
}

input {
    outline: none;
}

.ioEcLQ {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.jbxvPE {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.Vkby {
    margin: 0px;
    padding: 0px 16px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    height: 84px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (min-width: 578px) {
    .Vkby {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 768px) {
    .Vkby {
        padding-left: 28px;
        padding-right: 28px;
    }
}

@media screen and (min-width: 981px) {
    .Vkby {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.bWQTJz {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-flex: 1;
}

.ibBWIn {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-basis: 20px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.flkgrh {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    width: 14px;
    height: 14px;
}

.eaOXYK {
    margin: 0px 0px 0px 8px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-flex: 1;
    -webkit-box-pack: center;
    justify-content: center;
}

.gJNqgK {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 0 0 auto;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-box-pack: center;
    justify-content: center;
}

.fuGTiM {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
}

.ffYwvw {
    margin: 0px 20px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.idfJGQ {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.jlNkya {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.cAFwWB {
    margin: 0px 0px 0px 8px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.bgHVIP {
    margin: 0px 0px 0px 20px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.bQiBKA {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.casQMF {
    margin: 0px 0px 0px 4px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.eQbttW {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    max-width: 100%;
    z-index: 0;
    -webkit-box-flex: 1;
    min-width: 1px;
    min-height: 1px;
}

.fSZsRk {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    position: relative;
    -webkit-box-flex: 1;
}

.gKioqY {
    margin: 32px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.oMHNp {
    margin: 8px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.hnTtex {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    width: 1436px;
    top: 109px;
}

.hCzCJn {
    margin: 0px 0px 0px 8px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    display: inline;
}

.bjziCK {
    margin: 16px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.huvQjR {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 5;
}

.eIaCHA {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    border-radius: 100%;
}

.jooBkH {
    margin: 0px 16px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.iQgUtT {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    width: 26px;
}

.jvgRQA {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.gMTbwH {
    margin: 0px 0px 0px 8px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    display: inline;
}

.ilszHa {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    border-radius: 6px;
}

.gveAUo {
    margin: 0px;
    padding: 0px 16px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

@media screen and (min-width: 578px) {
    .gveAUo {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 768px) {
    .gveAUo {
        padding-left: 28px;
        padding-right: 28px;
    }
}

@media screen and (min-width: 981px) {
    .gveAUo {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.iPeZnk {
    margin: 0px;
    padding: 64px 0px 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.iRwecB {
    margin: 0px;
    padding: 0px 0px 32px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (min-width: 578px) {
    .iRwecB {
        flex-wrap: wrap;
        padding-bottom: 32px;
    }
}

@media screen and (min-width: 768px) {
    .iRwecB {
        flex-wrap: wrap;
        padding-bottom: 64px;
    }
}

@media screen and (min-width: 981px) {
    .iRwecB {
        flex-wrap: nowrap;
    }
}

.hmpLLG {
    margin: 0px 0px 32px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    width: 100%;
    flex: 1 1 auto;
}

@media screen and (min-width: 578px) {
    .hmpLLG {
        width: 100%;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 768px) {
    .hmpLLG {
        width: 100%;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 981px) {
    .hmpLLG {
        width: 30%;
        margin-bottom: 0px;
    }
}

.gLSGqR {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    z-index: 0;
    max-width: 100%;
}

@media screen and (min-width: 578px) {
    .gLSGqR {
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .gLSGqR {
        max-width: 100%;
    }
}

@media screen and (min-width: 981px) {
    .gLSGqR {
        max-width: 320px;
    }
}

.caIthC {
    margin: 16px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    position: relative;
}

.gdcPst {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    width: auto;
    flex: 1 1 auto;
}

@media screen and (min-width: 578px) {
    .gdcPst {
        width: 50%;
        flex: 1 1 auto;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 768px) {
    .gdcPst {
        width: 33%;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 981px) {
    .gdcPst {
        width: 20%;
        padding-left: 32px;
        padding-right: 32px;
    }
}

.hkfdcC {
    margin: 0px 0px 12px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.gAxSSS {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    width: 40%;
}

@media screen and (min-width: 578px) {
    .gAxSSS {
        width: 50%;
        padding-right: 0px;
    }
}

@media screen and (min-width: 768px) {
    .gAxSSS {
        width: 33%;
        padding-right: 0px;
    }
}

@media screen and (min-width: 981px) {
    .gAxSSS {
        width: 20%;
        padding-right: 32px;
    }
}

.SyzTJ {
    margin: 32px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    z-index: 0;
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 578px) {
    .SyzTJ {
        width: 100%;
        margin-top: 32px;
        max-width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .SyzTJ {
        width: 33%;
        margin-top: 0px;
        max-width: 100%;
    }
}

@media screen and (min-width: 981px) {
    .SyzTJ {
        width: 270px;
        margin-top: 0px;
        max-width: 270px;
    }
}

.cquXdU {
    margin: 0px;
    padding: 32px 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (min-width: 578px) {
    .cquXdU {
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .cquXdU {
        flex-direction: column;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}

@media screen and (min-width: 981px) {
    .cquXdU {
        flex-direction: row;
        -webkit-box-pack: center;
        justify-content: center;
    }
}

.boZaCm {
    margin: 8px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    order: 3;
}

@media screen and (min-width: 578px) {
    .boZaCm {
        margin-right: 0px;
        margin-top: 8px;
        order: 3;
    }
}

@media screen and (min-width: 768px) {
    .boZaCm {
        margin-right: 0px;
        margin-top: 8px;
        order: 3;
    }
}

@media screen and (min-width: 981px) {
    .boZaCm {
        margin-right: 32px;
        margin-top: 0px;
        order: 0;
    }
}

.idbAyY {
    margin: 16px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    order: 1;
    flex-direction: row;
    flex: 1 1 0%;
}

@media screen and (min-width: 578px) {
    .idbAyY {
        margin-right: 0px;
        order: 1;
        margin-top: 16px;
    }
}

@media screen and (min-width: 768px) {
    .idbAyY {
        margin-right: 0px;
        order: 1;
        margin-top: 16px;
    }
}

@media screen and (min-width: 981px) {
    .idbAyY {
        margin-right: 32px;
        order: 0;
        margin-top: 0px;
    }
}

.dzauCf {
    margin: 16px 0px 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    order: 2;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 230px;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

@media screen and (min-width: 578px) {
    .dzauCf {
        order: 2;
        margin-top: 16px;
    }
}

@media screen and (min-width: 768px) {
    .dzauCf {
        order: 2;
        margin-top: 16px;
    }
}

@media screen and (min-width: 981px) {
    .dzauCf {
        order: 0;
        margin-top: 0px;
    }
}

.dlSpeG {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
}

.bvKcKO {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    transition: all 0.12s ease-in-out 0s;
}

.bAnHmt {
    margin: 52px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-flex: 1;
}

.eIGEyX {
    margin: 20px 0px 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.eYebvu {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    z-index: 0;
    max-width: 480px;
}

.fkBquX {
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-flow: row wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.bsLQcH {
    margin: 20px 0px 0px;
    padding: 0px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.ljMFUT {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    line-height: 20.7px;
    font-family: inherit;
    font-weight: inherit;
}

.fnyloc {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.lfoLab {
    text-decoration: none;
    color: rgba(4, 4, 5, 0.4);
    transition: all 0.12s ease-in-out 0s;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.doaTrL {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    line-height: 20.7px;
    font-family: inherit;
    font-weight: 900;
}

.gWFzdQ {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: 900;
}

.ehcDWT {
    text-decoration: none;
    color: rgba(4, 4, 5, 0.5);
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-align: center;
}

.dCpLuw {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.epxmmf {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    line-height: 20.7px;
    font-family: inherit;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.CKHKu {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    line-height: 19.32px;
    font-family: inherit;
    font-weight: 900;
}

.izNbhn {
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: rgb(4, 4, 5);
}

.HymoY {
    text-decoration: none;
    color: rgba(4, 4, 5, 0.5);
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.dULuHl {
    text-decoration: none;
    color: rgba(4, 4, 5, 0.5);
    font-size: 12px;
    line-height: 16.56px;
    font-family: inherit;
    font-weight: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.esMJzr {
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: 900;
    color: rgb(4, 4, 5);
}

.iPkyaj {
    text-decoration: none;
    font-size: 18px;
    line-height: 24.84px;
    font-family: inherit;
    font-weight: 900;
    color: rgb(4, 4, 5);
}

.hwVqKh {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    line-height: 22.08px;
    font-family: inherit;
    font-weight: 900;
}

.gVyEq {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    line-height: 19.32px;
    font-family: inherit;
    font-weight: inherit;
}

.eqDhyJ {
    text-decoration: none;
    color: inherit;
    transition: all 0.12s ease-in-out 0s;
    font-size: 15px;
    line-height: 20.7px;
    font-family: inherit;
    font-weight: 900;
}

.cPQJwx {
    text-decoration: none;
    color: inherit;
    font-size: 12px;
    line-height: 16.56px;
    font-family: inherit;
    font-weight: 900;
}

.enUzpZ {
    text-decoration: none;
    color: inherit;
    font-size: 28px;
    line-height: 33.6px;
    font-family: inherit;
    font-weight: 900;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
}

.fBsUpO {
    text-decoration: none;
    color: rgba(4, 4, 5, 0.9);
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: 700;
}

.cjIdRF {
    text-decoration: none;
    color: rgba(4, 4, 5, 0.4);
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
}

.eyxiok {
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    font-weight: 700;
    color: rgb(4, 4, 5);
    margin-left: 8px;
}

.eXfkaP {
    transition: all 0.12s ease-in-out 0s;
    width: auto;
    color: inherit;
    padding: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    overflow: visible;
    outline: none;
}

.erMVgR {
    width: auto;
    color: inherit;
    padding: 0px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    overflow: visible;
    outline: none;
}

.KGdWz {
    height: 40px;
    width: 40px;
    border: 1px solid transparent;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.12s ease-in-out 0s;
    border-radius: 40px;
    background-color: rgba(0, 102, 255, 0.05);
    transform-origin: center center;
}

.KGdWz:hover {
    background-color: rgba(0, 102, 255, 0.05);
    color: rgb(4, 4, 5);
}

.KGdWz:active {
    transform: scale(0.95);
}

.fkQFmH {
    height: 48px;
    width: 48px;
    border: 1px solid transparent;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.12s ease-in-out 0s;
    border-radius: 48px;
    background-color: rgba(0, 102, 255, 0.05);
    transform-origin: center center;
}

.fkQFmH:hover {
    background-color: rgba(0, 102, 255, 0.05);
    color: rgb(4, 4, 5);
}

.fkQFmH:active {
    transform: scale(0.95);
}

.dQqrst {
    border-color: rgba(4, 4, 5, 0.1);
    background: transparent;
}

.dQqrst:hover {
    background: transparent;
    border-color: rgba(4, 4, 5, 0.18);
}

.eCtGus {
    display: flex;
    flex-flow: row nowrap;
    height: 40px;
    padding-left: 22px;
    padding-right: 22px;
    min-width: auto;
    border: 1px solid transparent;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 900;
    font-family: inherit;
    transition: all 0.12s ease-in-out 0s;
    transform-origin: center center;
    user-select: none;
    cursor: pointer;
}

.eCtGus:active {
    transform: scale(0.95);
}

.joxnzF {
    display: flex;
    flex-flow: row nowrap;
    height: 48px;
    padding-left: 26.4px;
    padding-right: 26.4px;
    min-width: auto;
    border: 1px solid transparent;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 48px;
    font-size: 15px;
    font-weight: 900;
    font-family: inherit;
    transition: all 0.12s ease-in-out 0s;
    transform-origin: center center;
    user-select: none;
    cursor: pointer;
}

.joxnzF:active {
    transform: scale(0.95);
}

.heSaGy {
    display: flex;
    flex-flow: row nowrap;
    height: 48px;
    padding-left: 26.4px;
    padding-right: 26.4px;
    min-width: 100%;
    border: 1px solid transparent;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 48px;
    font-size: 15px;
    font-weight: 900;
    font-family: inherit;
    transition: all 0.12s ease-in-out 0s;
    transform-origin: center center;
    user-select: none;
    cursor: pointer;
}

.heSaGy:active {
    transform: scale(0.95);
}

.qAIDh {
    border-color: transparent;
    color: rgb(0, 102, 255);
    background: rgba(0, 102, 255, 0.15);
}

.qAIDh:hover {
    color: rgba(0, 102, 255, 0.9);
    background: rgba(0, 102, 255, 0.2);
}

.dOaLsj {
    border-color: rgba(4, 4, 5, 0.1);
    color: rgb(4, 4, 5);
    background: transparent;
}

.dOaLsj:hover {
    border-color: rgba(4, 4, 5, 0.18);
}

.dkSWaJ {
    border-color: rgb(0, 102, 255);
    color: rgb(255, 255, 255);
    background: rgb(0, 102, 255);
}

.dkSWaJ:hover {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 102, 255, 0.95);
}

.eesVrg {
    text-decoration: none;
    color: rgb(0, 102, 255);
}

.eesVrg:hover {
    color: rgb(4, 4, 5);
    cursor: pointer;
}

.ktlGIb {
    transition: all 0.12s ease-in-out 0s;
    color: rgba(4, 4, 5, 0.6);
}

.ktlGIb:hover,
.ktlGIb:focus,
.ktlGIb:active {
    color: rgba(4, 4, 5, 0.9);
}

.iNDoeG {
    transition: all 0.12s ease-in-out 0s;
    color: rgb(4, 4, 5);
}

.iNDoeG:hover,
.iNDoeG:focus,
.iNDoeG:active {
    color: rgba(4, 4, 5, 0.9);
}

.croGUS {
    max-width: 100%;
    min-height: 100vh;
    width: 100%;
}

.efpGaJ {
    display: none;
}

.ipfhlk {
    display: inline-block;
}

.lbMOqP {
    flex-direction: row;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    border: 1px solid transparent;
    background: rgba(4, 4, 5, 0.07);
    height: 40px;
    padding: 0px 8px 0px 16px;
    border-radius: 24px;
    transition: all 0.12s ease-in-out 0s;
}

.lbMOqP:hover {
    border-color: rgba(4, 4, 5, 0.1);
}

.kUsNBB {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
}

.fzdioO {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    max-width: 100%;
    z-index: 0;
    -webkit-box-flex: 1;
    height: 420px;
}

.gZFujt {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 100%;
}

.BGpnh {
    border-radius: 6px;
}

.cEVuDa {
    width: 25px;
    height: 25px;
}

.ljAugV {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
}

.hpHFSK {
    opacity: 0;
}

.eEthnu {
    margin: auto;
}

.fkCSEE {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    transition: opacity 0.2s ease-in-out 0s;
    margin: auto;
}

.kiRdWm {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.juBghB {
    background: rgba(234, 234, 234, 0.5);
    width: 26px;
    height: 26px;
    border-radius: 100%;
}

.gFPhXg {
    color: rgb(0, 102, 255);
    background: linear-gradient(126.49deg, rgb(0, 163, 255) 0%, rgb(0, 102, 255) 100%) text;
    -webkit-text-fill-color: transparent;
}

.iqPzjL {
    width: 26px;
    height: 26px;
    position: relative;
}

.ifyazv {
    width: 120px;
    height: 120px;
    position: relative;
}

.cyyknM {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
    border-radius: 26px;
    width: 26px;
    height: 26px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.edtvRX {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
    border-radius: 120px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

.gCHypS {
    position: absolute;
    right: -4px;
    bottom: -8px;
}

.bwHCEF>* {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.gvjJeP {
    transition: all 0.12s ease-in-out 0s;
    color: rgba(4, 4, 5, 0.5);
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.gvjJeP:hover,
.gvjJeP:focus,
.gvjJeP:active {
    color: rgba(4, 4, 5, 0.9);
}

.kPXRSB {
    height: 24px;
    width: 1px;
    background: rgba(4, 4, 5, 0.1);
    margin: 0px 18px;
}

.vPWDd {
    transition: all 0.12s ease-in-out 0s;
    color: rgba(4, 4, 5, 0.5);
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.vPWDd:hover,
.vPWDd:focus,
.vPWDd:active {
    color: rgba(4, 4, 5, 0.9);
}

.jMrVnB {
    display: inline-flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
}

.kCWYTI {
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.kCWYTI> :not(:last-child) {
    margin-right: 8px;
}

.czwUhv {
    z-index: 100;
    position: sticky;
    width: 100%;
    top: 0px;
    transform: translate3d(0px, 0px, 0px);
}

.dPdrKC {
    background: rgb(255, 255, 255);
    color: rgb(4, 4, 5);
    border-bottom: 1px solid rgba(4, 4, 5, 0.1);
}

.dPdrKC> :not(:last-child) {
    margin-right: 24px;
}

.jYGA-Dr {
    width: 40px;
    height: 40px;
    transition: all 0.12s ease-in-out 0s;
    transform-origin: center center;
}

.jYGA-Dr:active {
    transform: scale(0.95);
}

.bAbXop {
    width: 100%;
    margin: 0px auto;
    max-width: 1500px;
}

.bpSALS {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 30px;
    opacity: 1;
    z-index: initial;
    background: linear-gradient(to left, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.hvtulX {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 30px;
    opacity: 0;
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.osPas {
    height: 100%;
    width: 100%;
    position: relative;
}

.gMQmvr {
    inset: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 18px;
    border-radius: 16px;
    border: 1px solid rgba(4, 4, 5, 0.1);
    overflow: hidden;
}

@media (min-width: 768px) {
    .gMQmvr {
        padding: 18px 22px;
    }
}

@media (min-width: 981px) {
    .gMQmvr {
        padding: 22px 24px;
    }
}

.hxMkZp {
    position: absolute;
    z-index: -1;
    inset: 0px;
}

.hxMkZp::before,
.hxMkZp::after {
    position: absolute;
    content: "";
    height: 40px;
    display: block;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    border: 1px solid rgba(4, 4, 5, 0.1);
}

.hxMkZp::before {
    left: 3px;
    right: 3px;
    bottom: -3px;
    z-index: -1;
}

.hxMkZp::after {
    left: 6px;
    right: 6px;
    bottom: -6px;
    z-index: -2;
}

.LYoKA {
    position: relative;
}

.jCuKhl {
    transition: opacity 0.2s ease-in-out 0s;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    opacity: 0;
}

.egOTBC {
    min-width: 227px;
    min-height: 220px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.evUpul {
    min-width: 217px;
    min-height: 220px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.fA-dOWs {
    transition: all 0.12s ease-in-out 0s;
    width: 30px;
    height: 30px;
    background: transparent;
    color: rgba(4, 4, 5, 0.5);
}

.fA-dOWs:hover {
    color: rgb(4, 4, 5);
    background: rgba(4, 4, 5, 0.06);
}

.dzcLqc {
    display: flex;
    flex-direction: row;
}

.dzcLqc> :not(:first-child) {
    margin-left: -10px;
}

.XtWek {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 220px;
}

.blRcVL {
    opacity: 0.5;
    transition: all 0.12s ease-in-out 0s;
    width: 16px;
    height: 16px;
}

.dPxVtN {
    opacity: 0.5;
    transition: all 0.12s ease-in-out 0s;
    margin-left: 4px;
    line-height: 16px;
    font-size: 14px;
}

.iFNFRQ {
    background: transparent;
    border-color: transparent;
    height: 36px;
    border-radius: 22px;
    padding: 6px 12px;
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.12s ease-in-out 0s;
}

.iFNFRQ:hover {
    background: rgba(4, 4, 5, 0.06);
}

.iFNFRQ:hover .sc-dksuAk,
.iFNFRQ:hover .sc-jhGSUB {
    opacity: 1;
}

.cVbTct {
    margin-right: -8px;
    margin-bottom: -8px;
}

.dStxsV {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.llyEoq {
    margin-top: 4px;
    flex-direction: row;
    align-items: flex-end;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
}

.fYQCFi {
    margin-top: 16px;
    display: flex;
}

.jFXzrz {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 16px;
}

.jNeIPT {
    height: 0px;
    transition: all 0.12s ease-in-out 0s;
    transform-origin: center center;
}

.jNeIPT:active {
    transform: scale(0.9);
}

.dmafXj {
    height: 40px;
    font-size: 15px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    padding: 0px 20px;
    background: rgb(4, 4, 5);
    border-radius: 40px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row;
}

.kwanLy {
    color: rgb(0, 102, 255);
    font-weight: 500;
    line-height: 22px;
}

.kOfqLk {
    position: fixed;
    height: 0px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-name: jgXHuU;
}

.leHCdN {
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.lkZLgr {
    color: rgba(4, 4, 5, 0.6);
    transition: all 0.12s ease-in-out 0s;
}

.lkZLgr:hover {
    color: rgb(4, 4, 5);
}

.hfCxCg {
    background: rgb(255, 255, 255);
    height: 48px;
    border-radius: 48px;
    transition: all 0.12s ease-in-out 0s;
    -webkit-box-align: stretch;
    align-items: stretch;
    padding: 0px 95px 0px 20px;
    flex-direction: row;
    border: 0px;
}

.hfCxCg>input {
    color: rgb(4, 4, 5);
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.hfCxCg>input::-webkit-input-placeholder {
    color: rgba(4, 4, 5, 0.5);
}

.hfCxCg>input::placeholder {
    color: rgba(4, 4, 5, 0.5);
}

.dLGSRJ {
    font-size: 26px;
    line-height: 1.4;
}

@media (min-width: 981px) {
    .dLGSRJ {
        font-size: 18px;
    }
}

.fAXLLe {
    position: absolute;
    top: 0px;
    right: 0px;
}

.kyBJCn {
    overflow: hidden;
    height: 48px;
    border: 0px;
}

.kdccvB {
    color: rgba(4, 4, 5, 0.6);
    background: rgb(255, 255, 255);
    font-size: 15px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border: 0px;
}

.gvzIkT {
    background: rgba(4, 4, 5, 0.05);
    border-top: 1px solid transparent;
    color: rgba(4, 4, 5, 0.6);
}

.bJcxxx {
    border-top: 1px solid rgba(4, 4, 5, 0.1);
}

.iQUCaz {
    white-space: nowrap;
}

.JcBaK {
    height: 30px;
    color: rgb(4, 4, 5);
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding-bottom: 2px;
}

.JcBaK:hover {
    color: rgb(4, 4, 5);
}

.fmmkIU {
    height: 30px;
    color: rgba(4, 4, 5, 0.4);
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    padding-bottom: 2px;
}

.fmmkIU:hover {
    color: rgb(4, 4, 5);
}

.jZfGyH {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgb(4, 4, 5);
    height: 2px;
    width: 100%;
}

.jSKQbL {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(4, 4, 5, 0);
    height: 2px;
    width: 100%;
}

.kYhAtB {
    color: rgba(4, 4, 5, 0.4);
    vertical-align: top;
    margin-left: 4px;
}

.aTLuo> :not(:last-child) {
    margin-right: 16px;
}

.BoELt {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

.hZNOjn {
    overflow: hidden;
    position: absolute;
    inset: 0px;
}

.hXZlkr {
    position: absolute;
    inset: -5px;
    background-size: cover;
    background-position: center center;
    background-image: url(https://images.rarible.com/?fit=outsize&n=-1&url=https%3A%2F%2Fipfs.rarible.com%2Fipfs%2FQmai2jYXqgPLcek1XJBSXa2Ftmi19DqiiK8Kt3hjUjrqF5&w=48);
    filter: blur(5px);
    transition: all 0.12s ease-in-out 0s;
    opacity: 1;
}

.bGmCZv {
    position: absolute;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-image: url(https://images.rarible.com/?fit=outsize&n=-1&url=https%3A%2F%2Fipfs.rarible.com%2Fipfs%2FQmai2jYXqgPLcek1XJBSXa2Ftmi19DqiiK8Kt3hjUjrqF5&h=260);
    filter: none;
    transition: all 0.12s ease-in-out 0s;
    opacity: 1;
}

.FCaZG {
    height: 260px;
    background-color: rgba(4, 4, 5, 0.03);
    position: relative;
}

.eGEqCh {
    border: 4px solid rgb(255, 255, 255);
    border-radius: 100%;
    position: relative;
}

.vnmiW {
    position: absolute;
    bottom: -30px;
    left: 50%;
    overflow: hidden;
    transform: translateX(-50%);
    z-index: 10;
}

.OMwqx {
    vertical-align: middle;
}

.jifSPb> :not(:last-child) {
    margin-right: 16px;
}

.golwPT {
    opacity: 0.5;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.golwPT:hover {
    opacity: 1;
}

.dNOiZi {
    background-color: rgb(255, 255, 255);
    padding-left: 24px;
    padding-right: 24px;
    height: 48px;
    border-radius: 48px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 40px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.ilMVXl {
    position: fixed;
    left: 20px;
    bottom: 24px;
    z-index: 150;
}

@media (max-width: 568px) {
    .ilMVXl {
        left: 50%;
        transform: translateX(-50%);
        width: 245px;
    }
}


/*! CSS Used from: Embedded */

.resize-triggers {
    animation: 1ms resizeanim;
    visibility: hidden;
    opacity: 0;
}

.resize-triggers,
.resize-triggers>div,
.contract-trigger:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.resize-triggers>div {
    background: #eee;
    overflow: auto;
}

.contract-trigger:before {
    width: 200%;
    height: 200%;
}


/*! CSS Used keyframes */

@-webkit-keyframes jgXHuU {
    0% {
        transform: translateY(-100px);
        opacity: 0;
        z-index: -100;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
        z-index: -100;
    }
}

@keyframes jgXHuU {
    0% {
        transform: translateY(-100px);
        opacity: 0;
        z-index: -100;
    }
    100% {
        transform: translateY(-100px);
        opacity: 0;
        z-index: -100;
    }
}