.bYIzML {
    margin: 0px;
    padding: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(4, 4, 5);
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    z-index: 0;
    -webkit-box-flex: 1;
    overflow-x: hidden;
    max-width: 100%;
}

.bAbXop {
    width: 100%;
    margin: 0px auto;
    max-width: 1500px;
}